<!doctype html>
<html lang="en">
    {% include "partial/head.html" %}
    <title>Lethal Synergy | About Us</title>
  </head>
  <body>
    {% include "partial/nav.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <div class="container" id="ffxiv-div">
      <div class="wrapper">
        <h1>{% load static %} <img src="{% static "/media/ffxiv_banner.jpg" %}" class="banner-img" alt="FFXIV"/></h1>
        <hr>
        <h5>FC Leader: Kymora Vek | Server: Cactaur | Grand Company: Immortal Flames</h5>
        <p>
          Final Fantasy XIV is currently the longest running chapter under the banner of Lethal Synergy and currently holds the most members out of all three of the
          games we currently maintain a presence in and consistently has the maximum of 512 members. 
        </p>
        <hr>      
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>