html, body {
  background-color: black;
  height: 100%;
}
.container {
display: flex;
justify-content: center;
width: 100%;
}
/* Index  */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 546px;
  margin: 80px;
  padding-bottom: 65px;
}
.flex-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 70px;
  margin-right: 60px;
  margin-left: 60px;
  padding: 10px;
  width: 50%;
  height: 400px;
}
#joinToday {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.news-text {
  /* border: 2px solid red; */
}
/* About Us */
#aboutContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  height: 50%;
  width: 80%;
  padding: 29px;
  margin-top: 10%;
}
/* Navbar */
@media (max-width: 990)
.navbar {
  height: 100%;
}
.navbar {
  display: flex;
  background-color: transparent;
}
#lsBanner {
display: flex;
justify-content: center;
}
/* .navbar-brand {
  font-family: 'New Rocker', cursive;
  margin-left: 40px;
  margin-right: 40px;
} */
.navbar-collapse {
  justify-content: center;
}
.navbar-nav {
  display: flex;
  align-items: center;
  
}
.nav-link {
  font-family: 'Germania One', cursive;
  margin-right: 40px;
  margin-left: 40px;
}