<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" href="#">Home</a></li>
        <li><a id="len2" class="hoverable" href="#">About</a></li>
        <li><a id="len3" class="hoverable" href="#">Official Stream</a></li>
        <li><a id="len4" class="hoverable" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div id="what-the-hell-is-this">
    <div class="page-title">
      <h2>Lethal Synergy</h2>
      <p class="lead">
        Gaming community originally formed in 1999 on Everquest. Our goal is to bring people
        of like minds and many backgrounds to game together with a focus on MMORPGs.
      </p>
    </div>
  </div>
</div>