<div class="wrapper" id="lsBanner">
  {% load static %} <img src="{% static "/media/ls_website_banner.png" %}" alt="banner"/>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Supported Games</a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Final Fantasy XIV</a></li>
          <li><a class="dropdown-item" href="#">Elder Scrolls Online</a></li>
          <li><a class="dropdown-item" href="#">Lost Ark</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.twitch.tv/lethal_nax" target="_blank">Official Stream</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/DDgyzrg" target="_blank">Discord</a>
      </li>
    </ul>
  </div>
</nav>